In [1]:
import pandas as pd

In [2]:
#Task1
#Loading the data
def read_data_from_csv():
    #df =read the 'iot_telemetry_data.csv' file
    return df
df=pd.read_csv('iot_telemetry_data.csv')
df.head()

C:\Users\juliy\AppData\Local\Temp\ipykernel_5740\1171072354.py:6: DtypeWarning: Columns (1,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('iot_telemetry_data.csv')

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000

Task2:Renaming the Columns
The function rename_columns() renames the columns of the DataFrame to provide more meaningful names. It uses a dictionary to map the existing column names to the new names. The DataFrame obtained from the previous task is used as input. The function returns the DataFrame with renamed columns.

ts -> timestamp: Renaming the "ts" column to "timestamp" provides a clearer description of the data.

device -> device_id: Renaming the "device" column to "device_id" specifies that the column represents the unique identifier of the device.

co -> carbon_monoxide: Renaming the "co" column to "carbon_monoxide" clarifies that the column contains data related to carbon monoxide levels.

humidity: No renaming required, as "humidity" already provides a meaningful description of the data.

light: No renaming required, as "light" already provides a meaningful description of the data.

lpg -> liquefied_petroleum_gas: Renaming the "lpg" column to "liquefied_petroleum_gas" specifies that the column represents data related to liquefied petroleum gas levels.

motion: No renaming required, as "motion" already provides a meaningful description of the data.

smoke: No renaming required, as "smoke" already provides a meaningful description of the data.

temp -> temperature: Renaming the "temp" column to "temperature" provides a clearer description of the data.

After renaming the columns, your updated column names will be:

timestamp
device_id
carbon_monoxide
humidity
light
liquefied_petroleum_gas
motion
smoke
temperature
These new column names should help provide a better understanding of the data within each column.

In [3]:


#Task 2: Renaming the Columns
def rename_columns():
    # do not edit the predefined function name
    df=read_data_from_csv()
    #rename the columns according to the description
    new={
        'ts':'timestamp',
        'device':'device_id',
        'co':'carbon_monoxide',
        'humidity':'humidity',
        'light':'light',
        'lpg':'liquefied_petroleum_gas',
        'motion':'motion',
        'smoke':'smoke',
        'temp':'temperature'
    }

    df=df.rename(columns=new)
    return df

Task3: Checking for Null Values
The function null_values_check() checks for null values in each column of the DataFrame. The function returns a Series that contains the count of null values in each column.

In [4]:
#Task 3: check for null values
def null_values_check():
    # do not edit the predefined function name
    df=rename_columns()
    null_values=df.isnull().sum()
    return null_values

In [5]:
df.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000

Task4: Removing Duplicates
The function remove_duplicates() removes any duplicate rows from the DataFrame. It operates on the DataFrame obtained after renaming the columns.
The function returns the DataFrame without any duplicate rows.

In [6]:
def remove_duplicates():
    # do not edit the predefined function name
    df=rename_columns()
    df=df.drop_duplicates()
    return df

Task 5: Handling Missing Values
The function handle_missing_values() removes any rows containing missing values (null values) from the DataFrame. The DataFrame obtained from the previous task is used as input. The function returns the DataFrame without any missing values.

In [7]:
#Task 5:Handling Missing Values:
def handle_missing_values():
    # do not edit the predefined function name
    df=remove_duplicates()
    df=df.dropna()
    return df

Task 6: Data Type Conversion
The function convert_data_types() converts the data types of selected columns in the DataFrame to their appropriate types. It uses the pandas libary method to convert the "timestamp" column to datetime type, and convert the "humidity," "light," "motion," and "temperature" columns to float and boolean types. The DataFrame obtained after handling missing values is used as input. The function returns the DataFrame with the converted data types

In [8]:
#Task 6:Data Type Conversion:
def convert_data_types():
    # do not edit the predefined function name
    df= handle_missing_values()
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['device_id'] = df['device_id'].astype(str)
    df['carbon_monoxide']=df['carbon_monoxide'].astype(float)
    df['humidity'] = df['humidity'].astype(float)
    df['light']=df['light'].astype(bool)
    df['liquefied_petroleum_gas']=df['liquefied_petroleum_gas'].astype(float)
    df['motion']=df['motion'].astype(bool)
    df['smoke']=df['smoke'].astype(float)
    df['temperature']=df['temperature'].astype(float)
    return df

Task 7: Exporting the Cleaned Dataset
The function export_the_dataset() exports the cleaned DataFrame to a new CSV file named 'cleaned_environment.csv'. It uses the pandas library to write the data to the CSV file. The DataFrame obtained from the previous task is used as input and return the cleaned dataframe 'df'.

In [10]:
#Task 7: Export the cleaned dataset to "cleaned_environemnt.csv"
def export_the_dataset():
    # do not edit the predefined function name
    df=convert_data_types()
    df.to_csv('cleaned_environment.csv', index=False)